name: lint

on:
  push:

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.3.5"
    - name: Install dependencies
      run: |
        pip install flake8
        pip install pep257
    - name: Run
      run: |
        flake8 . --max-line-length=120
        pep257 . --ignore=D202,D211
